:root {
  --primary: #d9e5f2;
  --secondary: #505559;
  --accent: #3f638b;
  --background: #1b1c1d;
  --background-dark: #000000;
  --radius: 1rem;
  --space: 1.25rem;
  --padding: calc(var(--space) / 2) var(--space);
  --font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: var(--font);
  margin: 0;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space);
  padding: var(--space);
}

#score {
  transition: border-color 0.5s;
  background: var(--background-dark);
  border: calc((var(--radius)) / 2) solid var(--secondary);
  border-radius: var(--radius);
  padding: var(--padding);
  font-size: 6rem;
  font-family: var(--monospace);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}

#player-score,
#computer-score {
  margin: var(--space);
}

#score span {
  font-weight: bold;
}

#score-separator {
  color: var(--secondary);
  margin: calc(-1 * var(--space));
}

#round-count {
  font-weight: bold;
  color: var(--secondary);
}

/* Progress Bar */

#progress {
  width: 10rem;
  height: calc((var(--radius) / 2));
  background: var(--secondary);
  border-radius: var(--radius);
  opacity: 0;
  transition: opacity 1s, height 1s;
}

#progress-bar {
  border-radius: var(--radius);
  height: 100%;
  width: 0;
  background: var(--primary);
  transition: width 0.5s;
}
/* Buttons */

#game-options {
  display: flex;
  justify-content: center;
  gap: var(--space);
}

button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background: var(--secondary);
  font-weight: bold;
  line-height: 1;
  padding: calc(var(--space) / 2) var(--space);
  transition: background 0.2s, color 0.4s;
}

button:hover {
  cursor: pointer;
  background: var(--accent);
  color: white;
}

button span {
  margin-right: calc(var(--space) / 2);
  font-family: monospace;
  font-size: 1.5rem;
}

#restart {
  display: none;
}

/* Mobile view */

@media (max-width: 768px) {
  #score {
    font-size: 3rem;
  }

  #game-options {
    flex-wrap: wrap;
  }

  #game-info {
    text-align: center;
  }
}

@media (max-width: 375px) {
  #score {
    width: 100%;
    font-size: 2rem;
  }

  #game-options {
    flex-direction: column;
    width: 100%;
  }

  button {
    align-content: start;
  }

  #status-message {
    display: none;
  }

  #round-count {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: var(--space);
    left: 0;
  }
}
